<h1>More About Your African Destinations</h1>
<p>We provide provide attraction location, safety and security information in this website for every country of the top 20 African nation tourist destinations.
    It will help you to assess for yourself the outstanding tourist places and the risks of travel. Each country information page contains a Travel Advisory, 
    attractions list and other important details specific to that country that could affect you.For detailed information and updates call us with the phone number
(xxx)-(xxx)-(xxxx).</p>
